:root {
    --color: #24005e;
}
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: 'Varela Round', sans-serif;
}


h1 {
    font-size: 3rem;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    font-size: 6rem;
    border: 2px solid var(--color);
    user-select: none;
    cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
    border-left: none;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-bottom: none;
}
.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
    border-right: none;
}

#restart {
    padding: 10px 20px;
    color: white;
    background-color: var(--color);
    border-color: var(--color);
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;

    transition: 200ms;
}
    
#restart:hover {

    transform: translateY(-2px);
}
